{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-3">
    <h1 class="text-danger mb-5 text-center border-bottom">See-My-Journey</h1>
    <h5 class="font-weight-bold font-italic text-center text-white">My journey has been a very fun one because I've chosen to make the best of every challenge that I've had along the way no matter what.</h5>
    <div class="container mt-3">
    <h1 class="text-danger mb-5 text-center border-bottom">Schooling (2005-2018)</h1>
    <h5 class="text-center i-colo">I grew up in a village in Uttar pradesh and did my schooling at <b class="text-white">Sant Mangalpuri Inter College Meerganj</b> 2005 - 2018 Only one goal in my mind is to do Big and make my parents proud. Also,My dream was that I do engineering from IIT,But due to the some resons I could not reach in IIT Then I took admission in a private college</h5>
    <div class="container mt-3">
    <h1 class="text-danger mb-5 text-center border-bottom">College</h1>
    <h5 class="text-center  i-c">Currently, I’m a third-year undergraduate Computer Science student at <b class="text-white">Shri Siddhi Vinayak Institute of Technology Bareilly</b>
I have started learning the so-called coding in the college itself with the help of awesome seniors and friends. It has been a great learning experience in the college and hopes that it will continue as it is going.</h5>
    <img src="">



{% endblock content %}


