{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-3">
    <h1 class="text-white mb-5 text-center">See My Projects</h1>
    <h5 class="text-center i-colo">I don't take on a project unless I know the end result is going to make me happy. If I can't give 100 percent to something, I choose not to do it because it's very difficult to have so many pots on the fire at one time.
</h5>
    <div class="mt-5 text-center">
        <a href="https://github.com/MN-HACKER-NO-1" target="_blank" class="btn btn btn-outline-success text-white bold my-8 mx-5 font-weight-bold">Git-Hub</a>


    </div>
{% endblock content %}