{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-5">
    <h1 class="text-warning border-bottom mt-5">Skills</h1>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:75%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">75%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-1">
            <h3 class="mt-5">HTML / CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:75%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">75%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:80%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">80%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-1">
            <h3 class="mt-5">Bootstrap</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:45%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">45%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">ML</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:50%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">50%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-1">
            <h3 class="mt-5">Javascript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width:30%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">30%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5"> Basic of C </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-1">
            <h3 class="mt-5">DBMS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:60%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">60%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">Data Structures and Algorithams</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:70%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">70%</div>
            </div>
        </div>






    </div>
    </div>
{% endblock content %}